@model YUJCSR.Web.CSO.Models.CSOProfileModel
@{
    Layout = "_CRM-Layout";
}

<div class="container-fluid">
    <section>
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">CSO Image</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" src="/img/undraw_profile.svg" alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <button class="btn btn-primary" type="button">Upload image</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">


                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form method="post">

                            <a class="btn btn-primary btn-md float-right" href="/User/Profile">Edit</a>
                            @Html.HiddenFor(m => m.CSOID)

                            <div class="mb-3">
                                <label class="small mb-1">CSO Name :</label>
                                @Model.CSOName
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1">Address :</label>
                                @Model.Address
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1">Description : </label>
                                @Model.Description
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1">Organization Type: </label>
                                    @Model.OrgType
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1">Website : </label>
                                    @Model.Website
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1">Founder : </label>
                                    @Model.Founder
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">Contact Person : </label>
                                    @Model.ContactPerson
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1">Phone Number : </label>
                                    @Model.PhoneNumber
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">Email address : </label>
                                    @Model.EmailId
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Aim : </label>
                                @Model.Aim
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Vision : </label>
                                @Model.Vision
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Mission : </label>
                                @Model.Mission
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Objective : </label>
                                @Model.Objective
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Core Areas :</label>
                                @Model.CoreAreas
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Other Info: </label>
                                @Model.OtherInfo
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>